@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
@media  (max-width:600px) {
  .left ,.right{
    display: none;
  }
  nav ul {
    display: none;
  }
}
a, i ,.user{
  cursor: pointer;
}
i{
  margin: 5px;
  z-index: 55;
}
.flex p{
  color: rgb(93, 88, 88);
}
.flex i{
  cursor: pointer;
}
.deleteacc{
  border: none;
  outline: none;
  position: absolute;
  top: 9px;
  right:300px;
  background: transparent;
}
a{
  text-decoration: none;
}
.svg{
  width: 17px;
  height: 17px;
  margin: 8px;
  filter: grayscale(50%);
}
svg{
  margin: 20px;
}
header svg{
  margin: 10px;
}
.customfile{
  border: 1px solid lightgrey;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}
.customfile::-webkit-file-upload-button{
  border:1px solid lightgrey;
  background: #fff;
  color: #0718C4;
  padding:10px;
  outline: none;
  
  border-radius: 20px;
}
.profile-options h2{
  text-transform:capitalize;
}
/* -----------------register page--------- */
.register{
  background: #f4f4f4;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid lightgrey;
}
.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 580px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px 1px 33px -13px #000;
  border: 0.5px solid lightgrey;
}
.register-img img{

  object-fit: cover;
 padding: 20px;
   height: 580px;
  /* background: #fff; */
  /*height: 450px;
  border-radius:36% 64% 41% 59% / 61% 36% 64% 39%  ; */
}
/* .register::after{
  content: url(../images/girl1.png);
  object-fit: cover; */
  /* background: #0718C4;
  /* height: 450px; */
  
/* } */
.register form input{
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 10px;
  padding:10px;
  margin: 10px;
  width: 324px;
}

/* ------------login------------ */
.div-login{
  display: flex;
  align-items: center;
  justify-content: center;
 
  border-radius: 20px;
  background: transparent;
}
.login{
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* backdrop-filter: blur(10px); */
}
.button{
  text-align: center;
  font-weight: 600;
}
.login form{
  height: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 33px -13px #000;
  border-radius:10px;
  padding: 25px;
  width: 333px;
  padding-bottom: 0;
}
.login form input{ 
  border: 1px solid lightgrey;
  outline: none;
  margin: 10px;
  border-radius: 10px;
  padding:10px;
  width: 270px;

}
.login-img img{
  height: 700px;
  width: 420px;
}
.new-user{
  /* border: 1px solid lightgrey; */
  width: 333px;
  text-align: center;
  border-radius: 5px;
  /* box-shadow: 1px 1px 33px -13px lightgrey; */
 margin: 10px 0;
  padding: 10px;
}
/* -----------search---------- */
.box{
  height: 50px;
  display: flex;
  background: #fff;
  box-shadow:0 0 12px  #aaa;
  border-radius: 40px;
  padding: 3px;
}
.box input{
  background: transparent;
  border: transparent;
  outline: none; 
  height: 45px;
  width: 100%;
}
/* -------------------------- */
.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.logo img {
  position: relative;
  left: 20px;
  top: 0;
  width: 267px;
  height: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
}
.profile {
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -2px 0;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 85px;
  background-color: #0718c4;
  color: #fff;
  padding: 1rem 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  z-index: 50;
}
nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  height: 67px;
}
nav ul li {
  display: flex;
  flex-direction: column;
  height: 70px;
  margin:-4px 15px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: inherit;
}
nav .profile {
  display: flex;
  align-items: center;
}
nav .profile img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
main {
  padding: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.left,
.middle,
.right {
  flex: 0 0 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.left {
  width: 400px;
  position: fixed;
  left: 0px;
  height: 100vh;
  top: 85px;
  bottom: 0;
  flex: 0 0 100%;
}
.middle {
  margin: 15px;
  flex: 0 0 100%;
}
.right {
  width: 400px;
  position: fixed;
  right: 0;
  height: calc(100vh - 85px);
  top: 85px;
  bottom: 0;
  overflow-y: auto;
  /* padding: 20px; */
}
.right::-webkit-scrollbar {
  display: none;
}
.left img {
  border-radius: 50%;
  width: 100%;
  height: 100px;
  width: 100px;
}
.left button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0718c4;
  color: #fff;
  border: none;
  cursor: pointer;
}
.left button a {
  text-decoration: none;
  color: #fff;
}
.middle img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}


.messaging-options {
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
}
.message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
}
/* .message {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
} */
/* .message-p{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message h3{
  font-size: 12px;
}
.message p{
  font-size: 12px;
}
.message img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  margin: 10px;
} */

#footer {
  /* position: fixed; */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: #0718c4;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* .right button {
  position: absolute;
  bottom: 100px;

  width: 50px;
  height: 50px;
  background-color: #0718C4;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
} */
span.fa-solid.fa-arrow-up {
  width: 50px;
  height: 50px;
  margin: 20px auto;
}
/* Media queries for responsiveness */
/* @media only screen and (min-width: 768px) {
  .left,
  .middle,
  .right {
    flex: 0 0 calc(33.33% - 20px);
  }
} */
.left,
.right {
  z-index: 5;
}
/* @media only screen and (min-width: 992px) {
  .left {
    flex: 0 0 calc(20% - 20px);
  }
  .middle {
    flex: 0 0 calc(60% - 20px);
  }
  .right {
    flex: 0 0 calc(20% - 20px);
  }
} */
/* --------add a new post------- */
.new_post {
  display: flex;
  gap: 10px;
  border-radius: 20px;
  width: 620px;
  height: 70px;
  background: #fff;
  margin: 90px auto 20px auto;
  border: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;
}
.new_post img,
.profile-picture img {
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.new_post button {
  display: block;
  width: 80px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #0718c4;
  color: #fff;
  border: none;
  cursor: pointer;
}
.middle_s {
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}
/* ------------------feed area----------- */
.feeds {
  margin: 0 auto;
  width: 620px;
}
.feeds .feed {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 1rem auto;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 0.85rem;
}
.feeds .feed .feed-top {
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
}
.feeds .feed .feed-top .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.feeds1 .feed .feed-top .user {
  display: flex;
  width: 100%;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
/* .feed .feed-image img{
 border-radius: 10px;
 overflow: hidden;
} */
.feed .feed-image {
  display: flex;
  background:#ddd;
  justify-content: center;
  align-items: center;
}
.feed .feed-image img {
  width: 700px; /* Ensure the image never exceeds its container's width */
  height: 500px; /* Maintain the aspect ratio */
  border-radius: 0px;
  overflow: hidden;
  object-fit: cover;
}
.feeds1 {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.feeds1 .feed{
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 10px;
  
}
.feeds1 .feed .feed-top{
  display: flex;
  justify-content:space-between;
  background: #fff;
  border-radius: 10px;
}
.feeds1 .feed .feed-image img{
  width: 350px;
  height: 350px;
  object-fit: cover;
}
.feeds1  .feed .action-button{
  opacity: 0;
  top: 0px;
  position:absolute;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #211f1faf;
  color: #fff;
  transition: .5s;
}
.feeds1 .feed:hover .action-button{
 opacity: 1;
 cursor: pointer;
}
/* ------------------message icon ----------- */
.msg-main {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
}
.msg-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.msg-name {
  font-weight: 600;
  font-size: 18px;
}
.msg > a {
  text-decoration: none;
  color: #000;
}
.chatbox {
  width: 100%;
  height: 580px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border-radius: 15px 15px 10px 10px;
}
.chathead {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #ddd;
  border-radius: 15px 15px 0 0;
}
.chathead > p {
  font-weight: 600;
  font-size: 15px;
}
.chathead > a > i {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.chat-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #000;
}
.chatarea {
  max-height: 460px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chatarea::-webkit-scrollbar {
  display: none;
}
.chatbottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  border-radius: 0 0 10px 10px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center; /* Align items vertically */
  padding: 10px;
}

.chat-msg {
  flex: 1; /* Take remaining space */
  padding: 5px;
}

.sendbtn {
  width: 45px;
  height: 38px;
  padding: 4px 3px;
  color: #fff;
  background-color: #0718c4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.chat-msg {
  border: none;
}
/* ------------------------Post Page--------------------------------*/
.postcontainer {
  width: 600px;
  height: 570px;
  margin: 50px auto;
  border-radius: 15px;
  border: 1px solid lightgray;
  background: #f4f4f4;
  color: #000;
}
#posttext .myself {
  display: flex;
  align-items: center;
}
.postprofile {
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.postprofilename {
  margin-left: 10px;
  font-size: 25px;
}
.postmessage {
  width: 590px;
  margin: 10px auto;
}
#posttext {
  width: 590px;
  height: 350px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  /* background: #f4f4f4; */
  resize: none;
  padding: 15px;
}
#posttext::placeholder {
  font-size: 18px;
}
#mediaEmoji {
  margin: 10px;
}
.postbutton{
  border-radius: 10px;
  padding: 5px;
  outline: none;
  inset: 10px;
}
/* ----------------------------messages start------------------- */

.chat1 {
  padding: 15px;
  border-radius: 5px 5px 5px 0;
  background-color: #ddd;
  width: fit-content;
  height: fit-content;
  max-width: 400px;
  margin-right: auto;
  margin-bottom: 3px;
}

.chat2 {
  padding: 15px;
  align-items: end;
  border-radius: 5px 5px 0 5px;
  background-color: #0718C4;
  width: fit-content;
  max-width: 400px;
  color: #fff;
  margin-top: 2px;
  margin-left: auto;
  margin-bottom: 3px;
  /* display: inline-block;
  vertical-align: top; */
  word-wrap: break-word;
}
/* ---------network.php----------- */

body {
  background: #f4f4f4;
  width: 100vw;
  height: 100vh;
}
.network-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 10px;
  margin: 0 auto;
}
/* .cards{
  margin-left: 100px;
  background:#fff;
width:300px;
height: 400px;
border:none;
border-radius:10px;
} */
.cards {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 20px;
  display: flex;

  align-items: center;
 justify-content: space-around;
}
/* .cards .connect-cover{
position:relative;
width: 300px;
height: 80px;
object-fit:cover;
} 0*/
.connect-cover {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.connect-profile {
  position: relative;
  display: flex;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  margin: -10px  20px;
  align-items: center;
  z-index: 1;
}
.cards .connect-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.view{
  width: 150px;
  color: #0718C4;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid #0718C4;
  padding: 10px;
}
/* ----------------------------messages end------------------- */

/* Post Page*/

.myself {
  display: flex;
  align-items: center;
}
.postprofile {
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.postprofilename {
  margin-left: 10px;
  font-size: 25px;
}
.postmessage {
  width: 590px;
  margin: 10px auto;
}
#posttext {
  width: 590px;
  border-radius: 15px;
  border: none;
  resize: none;
  padding: 15px;
}

/* ----------------------------profile.php------------------- */

.main-profile {
  margin: 100px;
  width: 60%;

  border: 1px solid lightgrey;
  border-radius: 10px;
}

hr {
  border: 0.2px solid lightgrey;
}
.main-profile .cover-photo {
  position: relative;
  width: 100%;
  height: 160px;
  object-fit: cover;
  z-index: -5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-profile .profile-image {
  position: absolute;
  left: 145px;
  top: 210px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  z-index: -5;
}
.username {
  position: relative;
  left: 259px;
  top: 13px;
  width: 400px;
}
.username h1 {
  font-size: 30px;

}
.delete{
  border:1px solid lightgrey;
  outline: none;
  padding: 5px 10px;
  background: #fff;
  border-radius: 15px;
  color:#000;
  cursor: pointer;
}
/* ----------------------------editprofile.php------------------- */
.edit {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
}
label {
  min-width: 300px;
}
.one .fname {
  width: 200px;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0;
}
.one .lname {
  width: 200px;
  border: 1px solid grey;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 0;
}
.edit input {
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid lightgrey;
  padding: 10px;
}
.edit textarea {
  width: 540px;
  height: 100px;
  resize: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgrey;
  padding-left: 20px;
}
.full {
  display: flex;
}
.full .left1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: #0718c4;
}
.full .left1 h1 {
  position: fixed;
  bottom: 60px;
  font-size: 70px;
  color: #fff;
}
.full .left1 img {
  width: 516px;
  height: 300px;
  top: 100px;
  left: 0;
  position: fixed;
}
.full .right1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.one select {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
fieldset {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 700px;
  border: 1px solid grey;
  padding: 40px;
}
legend {
  font-size: 25px;
  font-weight: 600;
  font-style: bold;
}
input[type="submit"] {
  background: #0718c4;
  color: #fff;
  width: 200px;
}
/* -------follow section in profile.php------ */
.full-profile {
  display: flex;
}
.side-profile {
  margin-top: 104px;
  height: 98vh;
  width: 26%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 30px;
  overflow-y: scroll;
}
.side-profile::-webkit-scrollbar {
  display: none;
}
.side-profile .follow-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.side-profile .follow-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
/* ----------------------------Folllow Or connect------------------- */

.view-connect,
.message_btn {
  background-color: #0718C4;
  color: #fff;
  font-weight: 600;
  width: 125px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  height: 37px;
  text-decoration: none;
}
.connect{
 color: #0718C4;
 border: none;
 font-weight: 600;
}
.connect1{
  background: #0718C4;
  color: #fff;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  width: fit-content;
  height: 37px;
  padding: 5px 10px; 
  text-decoration: none;
}
.edit-connect{
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 600;
  background-color: transparent;
  color: #0718C4;
  border: 2px solid #0718C4;
}
.message_btn {
  font-size: 13px;
}

/* .connect:hover, */
.view-connect:hover,
.message_btn:hover {
  background-color: transparent;
  color: #0718C4;
  border: 2px solid #0718C4;
}

.flex {
  display: flex;
  align-items: center;
  height: 50px;
}
.flex i {
  font-size: 26px;
  margin-left: 10px;
}

.search {
  position: relative;
}

#searchResults {

  position: absolute;
  top: 210%;
  left: 75%;
  right: 0;
  width: 366px;
  /* height: 100vh; */
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  z-index: 999;
  color: #000;
  font-weight: 600;
  backdrop-filter: blur;
}

#searchResults ul {
  list-style: none;
  padding: 0;
}

#searchResults ul li {
  padding: 10px;
}

#searchResults ul li a {
  text-decoration: none;
  color: #000;
}

#searchResults ul li a:hover {
  background-color: #f4f4f4;
}


/* comment section */
.commentsection {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  max-height: 200px;
  overflow: scroll; 
 
}

.commentsection::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}

.comment{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  border: 1px solid gainsboro;
  border-radius: 15px;
 
  
}
.onlycomment{
  display: flex;
  width: 400px;
  padding: 10px;
  justify-content:  space-between;
  align-items: center;
}
.profileandcomment{
  display: flex;
  gap: 15px;
}
.inputform{
  margin: 10px;
}
.replycomment{
  margin: 10px;
  width: 400px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  display: flex;
  float: right;
  gap: 15px;
  align-items: center;
}
.replynewcomment{
  width: 320px;
  border-radius: 5px;
}
.newcomment{
  width: 500px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.replybtn{
  border: none;
  background-color: white;
}
.commentpost{
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  background-color: transparent;
  color: #0718c4;
}
.commentForm{
  /* border: 1px solid lightgrey; */
  padding: 0px;
  position: relative;
  bottom: 0;
  width: max-content;
  margin: 0  auto;
}
/* Popup container */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

/* Popup content */
.popup-content {
  background-color: #fefefe; 
  margin: 8% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
  max-width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  position: relative; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-feed{
  display: flex;
}
.popup-feed-image{
  width: 420px; 
  height: 450px; 
  border-radius: 0px;
  overflow: hidden;
  object-fit:cover;
}
.popup-feed-image img{
  width: 420px; 
  height: 450px; 
}
.poppup-user{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-commentsection {
  padding: 5px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 100%;
  position: relative;
  max-height: 350px;
  overflow: scroll; 
}

.popup-commentsection::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
}
.mypostrightside{
  padding: 20px;
  word-break: break-all;
}
.popup-commentForm .newcomment{
  width: 400px;
}
.popup-commentForm{
  width: fit-content;
  margin: 0  auto;
}
.popup-comment{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  border: 1px solid gainsboro;
  border-radius: 15px;
 
}
.popup-replycomment{
  margin: 10px;
  width: 400px;
  border: 1px solid gainsboro;
  border-radius: 15px;
  display: flex;
  float: right;
  gap: 15px;
  align-items: center;
}
/* ----------------------------------------Responsive--------------------------------- */

/* ------------------index.html------------------------*/
@media screen and (max-width: 768px) {
  .register{
    flex-direction: column;
  }

  .register-img{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .register form{
    width: 330px;
    height: 550px;
  }

  .register form input{
    width: 280px;
  }
}

/* ------------------login.html------------------------*/
@media screen and (max-width: 768px) {
  .div-login{
    flex-direction: column;
  }
  .login-im{
    display: none;
  }
}
#hamburger{
  display: none;
}
.nav-second{
  display: none;
}
/* ------------------home.php------------------------*/
@media screen and (max-width: 768px) {
  nav{
    display: none;
  }
  .left{
    display: block;
    height: 100%;
  }
  .right{
    display: none;
  }
  .mid {
    width: 50%;
    position: fixed;
    right: 0;
    left: 0;
    height: calc(100vh - 85px);
    top: 85px;
    /* bottom: 0; */
    overflow-y: auto;
    padding: 20px;
  }
  .middle_s {
    width: max-content;
    padding: 0 20px;
  }
  .new_post{
    width: 100%;
  }
  footer{
    width: 100vw;
  }
  #hamburger {
    display: block;
  }
  .profileEdit{
    display: none;
  }
  .ham{
    justify-content: center;
    font-size: 32px;
    padding: 5px;
  }
  .nav-second {
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-top: 50px;
  }
  
  .nav-second ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-second li {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #000;
  }
  
  .nav-second hr {
    border: none;
    border-top: 1px solid #ccc;
    width: 80%; /* Adjust the width of the horizontal rule */
    margin: 0 auto; /* Center the horizontal rule */
  }
  .logo img{
    width: 185px;
  }
}

@media screen and (max-width: 600px) {
  .feeds .feed{
    width: auto;
  }
  main.container{
    justify-content: space-around;
  }
}

@media screen and (max-width: 480px) {
  .left button{
    font-size: 23px;
  }
  .profile-options h2{
    font-size: 30px;
  }
  .profile-options p{
    font-size: 20px;
  }
  
}

/* ------------------------------profile section responsive code--------------------------- */
@media screen and (max-width: 500px) {
 .full-profile{
  width: 100%;
  display: flex;
  flex-direction: column;
 }
 .main-profile {
  margin: 100px 20px 20px 20px;
  width: 91%;
  padding-bottom: 25px;
 }
 .username {
  position: relative;
  left: 210px;
  top: 2px;
  width: 200px;
  height: 150px;
}
.main-profile .profile-image {
  position: absolute;
  left: 45px;
  top: 182px;
  width: 151px;
  height: 151px;
}
.main-profile .cover-photo {
 
  height: 128px;

}
.flex{
  height: 20px;
}
.edit-connect {
  position: relative;
  left: 15px;
  top: -7px;
}
.view-connect {
  position: relative;
  right: 172px;
  top: 16px;
  padding: 6px 10px;
}
/* .flex p{
  margin: 20px;
} */
.side-profile{
  width: 90%;
  margin: 20px;
  height: 100%;
 border: none;
 padding: 5px;
}
.side-profile .follow{
  display: flex;
}
.side-profile .follow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 26px 28px 26px 28px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 200px;
}
.side-profile .follow-section p{
  text-align: center;
}
.edit-connect i ,.view-connect i{
 display: none;
}
.deleteacc {
  border: none;
  outline: none;
  position: absolute;
  top: 9px;
    right: -12px;
    background: transparent;
}
.main-profile hr{
  display: none;
}
.main-profile .svg{
  margin: 10px;
}
.flex svg{
  height: 20px;
}
.feeds1 .feed .action-button {
  opacity: 0;
  top: 0px;
  position: absolute;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #211f1faf;
  color: #fff;
  transition: .5s;
}

.feeds1 .feed .feed-image img{
  width: 130px; /* Ensure the image never exceeds its container's width */
  height: 130px; /* Maintain the aspect ratio */
  border-radius: 0px;
  overflow: hidden;
  object-fit: cover;
}
.feeds1 {
  margin: 30px;
  gap: 13px;
}
.main-profile h4{
  padding: 0;
  text-align: center;
}
}