@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center; 
}
.logo img{
 width: 260px;
 height:100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.profile{
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* margin: 0 auto; */
}

header {
  position: fixed;
  top: 0;right: 0;left: 0;
  background-color: #0718C4;
  color: #fff;
  padding: 1rem 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  z-index: 9999;
}

nav {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  z-index: 50;
 
}

nav ul {
  list-style: none;
  display: flex;
  margin-left: auto;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: inherit;
}

nav .profile {
  display: flex;
  align-items: center;
}

nav .profile img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

main {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left,
.middle,
.right {
  flex: 0 0 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.left {
  width: 400px;
  position:fixed;
  left: 0px;
  height: 100vh;
  top: 85px;
  bottom: 0;
  flex: 0 0 100%;
}

.middle {
  margin: 15px;
  flex: 0 0 100%;
}

.right {
  width: 400px;
  position: fixed;
  right: 0;
  height: calc(100vh - 85px);
  top: 85px;
  bottom: 0;
  overflow-y: auto;
  /* padding: 20px; */
}
.right::-webkit-scrollbar {
  display: none;
}

.left img {
  border-radius: 50%;
  width: 100%;
  height: 100px;
  width: 100px;
}

.left button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #0718C4;
  color: #fff;
  border: none;
  cursor: pointer;
}
.left button  a{
  text-decoration: none;
  color: #fff;
}
.middle img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.messaging-options {
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
}
.message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
/* .message {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
} */
/* .message-p{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message h3{
  font-size: 12px;
}
.message p{
  font-size: 12px;
}
.message img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  margin: 10px;
} */
footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #0718C4;
  color: #fff;
  padding: 10px ;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
/* .right button {
  position: absolute;
  bottom: 100px;

  width: 50px;
  height: 50px;
  background-color: #0718C4;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
} */
span.fa-solid.fa-arrow-up{
  width: 50px;
  height: 50px;
  margin:20px auto;
}
/* Media queries for responsiveness */
@media only screen and (min-width: 768px) {
  .left,
  .middle,
  .right {

    flex: 0 0 calc(33.33% - 20px);
  }
}
.left,
  .right{
    z-index: 5;
  }
@media only screen and (min-width: 992px) {
  .left {
    flex: 0 0 calc(20% - 20px);
  }

  .middle {
    flex: 0 0 calc(60% - 20px);
  }

  .right {
    flex: 0 0 calc(20% - 20px);
  }

}
/* --------add a new post------- */
.new_post{
  display: flex;
  gap: 10px;
  border-radius: 20px;
  width: 620px;
  height: 70px;
  background:#fff;
  margin:90px auto 20px auto;
  border: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;
}
.new_post img , .profile-picture img{
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.new_post button{
  display: block;
  width: 80px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #0718C4;
  color: #fff;
  border: none;
  cursor: pointer;
}
.middle_s{
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}
/* ------------------feed area----------- */
.feeds{
  margin:0 auto;
  width: 620px;
}
.feeds .feed{
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin: 1rem auto;
  line-height: 1.5;
  font-size: .85rem;
}
.feeds .feed .feed-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.feed .feed-top .user{
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* .feed .feed-image img{
 border-radius: 10px;
 overflow: hidden;
} */
.feed .feed-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed .feed-image img {
  max-width:700px; /* Ensure the image never exceeds its container's width */
  height: 500px; /* Maintain the aspect ratio */
  border-radius: 5px;
  overflow: hidden;
  object-fit: cove;
}

/* ------------------message icon ----------- */
.msg-main{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
}

.msg-img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.msg-name{
  font-weight: 600;
  font-size: 18px;
}
.msg > a{
  text-decoration: none;
  color: #000;
}

.chatbox {
  width: 100%;
  height: 580px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border-radius: 15px 15px 10px 10px;
}

.chathead {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #ddd;
  border-radius: 15px 15px 0 0;
}

.chathead > p {
  font-weight: 600;
  font-size: 15px;
}

.chathead > a > i {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}

.chat-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #000;
}

.chatarea {
  max-height: 460px;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chatarea::-webkit-scrollbar {
  display: none;
}

.chatbottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ddd;
  border-radius: 0 0 10px 10px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center; /* Align items vertically */
  padding: 10px;
}

.chat-msg {
  flex: 1; /* Take remaining space */
  padding: 5px;
}

.sendbtn {
  padding: 5px 10px;
  color: #fff;
  background-color: #0718C4;
  border: none;
  cursor: pointer;
}

.chat-msg{
  border: none;
}
/* ------------------------Post Page--------------------------------*/
.postcontainer{
  width: 600px;
  height: 500px;
  margin: 50px auto;
  border-radius: 15px;
  border:1px solid lightgray;
  color: #000;
  
}
#posttext
.myself{
  display: flex;
  align-items: center;
}
.postprofile{
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.postprofilename{
  margin-left: 10px;
  font-size: 25px;
}
.postmessage{
  width: 590px;
  margin: 10px auto;
}
#posttext{
  width: 590px;
  height: 350px;
  border-radius: 15px;
  border: none;
  resize: none;
  padding: 15px;
  
}
#posttext::placeholder{
 font-size: 18px;
}
#mediaEmoji{
 
  margin: 10px;
}

/* ----------------------------messages start------------------- */


.chat1{
  padding: 15px;
  border-radius: 5px 5px 5px 0;
  background-color: #ddd;
  width: fit-content;
  max-width: 400px;
  margin-right: auto;
  margin-bottom: 3px;
}

.chat2{
  padding: 15px;
  align-items: end;
  border-radius: 5px 5px 0 5px;
  background-color: #0718C4;
  width: max-content;
  max-width: 400px;
  height: 100%;
  color: #fff;
  margin-top: 2px;
  margin-left: auto;
  margin-bottom: 3px;
}
/* ---------network.php----------- */
body{
  background:#f4f4f4;
}
.cards{
  margin-left: 100px;
  background:#fff;
width:300px;
height: 400px;
border:none;
border-radius:10px;
}
.cards .connect-cover{
position:relative;
width: 300px;
height: 80px;
object-fit:cover;
}
.cards .connect-profile{
position: absolute;
margin-top:60px;
left: 190px;
width: 120px;
height: 120px;
border-radius:50%;
object-fit:cover;
}
.connect-content{
  margin-top: 100px;
}
/* ----------------------------messages end------------------- */


/* Post Page*/

.myself{
  display: flex;
  align-items: center;
}
.postprofile{
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.postprofilename{
  margin-left: 10px;
  font-size: 25px;
}
.postmessage{
  width: 590px;
  margin: 10px auto;
}
#posttext{
  width: 590px;
  border-radius: 15px;
  border: none;
  resize: none;
  padding: 15px;
  
}

/* ----------------------------profile.php------------------- */

.main-profile{
  margin: 100px;
  width: 60%;
 
  border: 1px solid lightgrey;
  border-radius: 10px;
}

hr{
  border: .2px solid lightgrey;
}
.main-profile .cover-photo{
  position: relative;
  width: 100%;
  height: 160px;
  object-fit: cover;
  z-index: -5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-profile .profile-image {
  position: absolute;
  left: 145px;
  top: 210px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  z-index: -5;
}
.username {
  position: relative;
 left: 259px;
 top: 13px;
}
.username h1{
  font-size: 30px;
  text-transform: capitalize;
}
/* ----------------------------editprofile.php------------------- */
.edit{
  display: flex;
  flex-direction: column;
  text-align: left;
align-items: center;
  justify-content: space-evenly;
}
label{
  min-width: 300px;
}
.one .fname{
  width: 200px;
  border:1px solid grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  margin-right: 0;

}
.one .lname{
  width: 200px;
  border:1px solid grey;
  border-top-left-radius: 0px;
  border-bottom-left-radius:0px;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  margin-left: 0;
}
.edit input{
  width: 350px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  border: 1px solid lightgrey;
  padding: 10px;
}
.edit textarea{
  width: 540px;
  height: 100px;
  resize: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgrey;
  padding-left:20px;
}
.full{
  display: flex;
}
.full .left1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
 background: #0718C4;
}
.full .left1 h1{
  position: fixed;
  bottom: 60px;
  font-size: 70px;
  color: #fff;
}
.full .left1 img{
  width:516px;
  height: 300px;
  top: 100px;
  left: 0;
  position: fixed;
}
.full .right1{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.one select{
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}
fieldset{
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 700px;
  border: 1px solid grey;
  padding: 40px;
}
legend{
  font-size: 25px;
  font-weight: 600;
  font-style: bold;
}
input[type=submit]{
  background: #0718C4;
  color: #fff;
  width: 200px;
}
/* -------follow section in profile.php------ */
.full-profile{
  display: flex;
}
.side-profile{
  margin-top: 150px;
  height: 100vh;
  width: 30%;
  border: 1px solid lightgrey;
  padding: 30px;  
}
.side-profile .follow-section{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px;
 border: 1px solid lightgrey;
 border-radius: 5px;
}
.side-profile .follow-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* ----------------------------Folllow Or connect------------------- */
.connect,.message_btn{
  background-color: #0a66c2;
  color: #fff;
  font-weight: 600;
  /* width: 100px; */
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
}
.message_btn{
  font-size: 13px;
}

.connect:hover,.message_btn:hover{
  background-color: transparent;
  color: #0a66c2;
  border: 2px solid #0a66c2;
}

.flex{
  display: flex;
 align-items: center;
 height: 50px;
}
.flex i{
 font-size: 26px;
 margin-left: 10px;
}
<<<<<<< HEAD

/* ----------------------------MyNetwork--------------------------------- */
=======
>>>>>>> c513eb5f7bde86157f56a6d1193429687efc0aed
