<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="container">
         <div class="logo">
            <img src="../images/logo.png" alt="">
         </div>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">My Network</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="">Messaging</a></li>
              <li><a href="profile.html"></a></li>
            </ul>
          </nav>
        </div>
      </header>

</body>
</html>