<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sign-Up</title>
</head>

<body>
    <div class="register">
        <div class="register-img">
            <img src="../images/kids.png" alt="">
        </div>
        <form action="../../php/signup.php" method="post" enctype="multipart/form-data">
            <h1>Register</h1>
            <div class="error-text"></div>
            <input type="text" name="first_name" placeholder="Firstname" required>
            <input type="text" name="last_name" placeholder="LastName" required>
            <input type="email" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="enter password" required><br>
            <input type="file" name="img" id="img" class="customfile">
            <input type="submit" class="button" value="Sign-in"><br>
            <p>Already a user? <a href="login.html">Login Here</a></p>
        </form>
    </div>
</body>
</html>
